<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93929877833-k47275p26qdhtocoidmqe10k0dpsmr9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93929877833-k47275p26qdhtocoidmqe10k0dpsmr9h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>93929877833-hf68n8clihn9fmfp1fb05dk2qe9679td.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUowJh8dEOqGP_Equi5sLW5R8hi8W29Ls</string>
	<key>GCM_SENDER_ID</key>
	<string>93929877833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-dd515</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-dd515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93929877833:ios:63b70058ba3753a6432a98</string>
</dict>
</plist>